<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main">
            <div class="dashboard-hero">
                <form action="/folders/create-folder" method="POST" class="create-folder-form">
                    <h1>Create New Folder</h1>
                    <label for="name">Folder Name</label>
                    <input name="name"
                            placeholder="Folder name"
                            type="text" 
                            required />
                    <div class="create-folder-button">
                        <button class="button">Create Folder</button>
                    </div>
                </form>
                <% if (message) { %>
                    <div class="error-message">
                        <p><%- message %></p>
                    </div>
                <% } %>
                <div class="dashboard-right">
                    <h1><%= title %></h1>
                    <div class="folder-container">
                        <% folders.forEach(function(folder) { %>
                            <div class='folder'>
                                <a href="/folders/<%=folder.id %>" class="folder-name"><%- folder.name %></a>
                                <p>Files: <%- folder._count.files %></p>
                                <div class="folder-dates">
                                    <p>Created: <%-  format(folder.createdAt, 'MMM dd, yyyy') %></p>
                                    <p>Last modified: <%- format(folder.updatedAt, 'iiii, MMMM dd, yyyy') %></p>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>