<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main">
            <div class="edit-folder-hero">
                <div class="folder-info">
                    <h1><%= title %></h1>
                    <h2><%- folder.name %></h2>
                    <p>Created: <%-  format(folder.createdAt, 'MMMM dd, yyyy')%></p>
                    <p>Last modified: <%- format(folder.updatedAt, 'iiii, MMMM dd, yyyy')%></p>
                </div>
                <div class="edit-folder-container">
                    <form action="/folders/edit-folder/<%= folder.id%>" method="POST" class="edit-folder-form">
                        <div class="label-input">
                            <label for="name">Edit Folder Name</label>
                            <input name="name"
                                    placeholder='<%-folder.name%>'
                                    type="text"
                                    value="<%-folder.name%>" />
                        </div>
                        <div class="edit-folder-button">
                            <button class="button">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('./partials/footer.ejs') %>
    </body>
</html>