<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main">
            <h1><%= title %></h1>
            <h2><%- folder.name %></h2>
            <p>Created: <%-  format(folder.createdAt, 'MMMM dd, yyyy')%></p>
            <p>Last modified: <%- format(folder.updatedAt, 'iiii, MMMM dd, yyyy')%></p>
            <form action="/folders/edit-folder/<%= folder.id%>" method="POST" class="create-folder-form">
                <label for="name">Folder Name</label>
                <input name="name"
                        placeholder='<%-folder.name%>'
                        type="text"
                        value="<%-folder.name%>" />
                <div class="create-folder-button">
                    <button class="button">Save Changes</button>
                </div>
            </form>
        </div>
    </body>
</html>