<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/styles.css' />
    </head>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="main">
            <h1><%= title %></h1>
            <h2><%- folder.name %></h2>
            <p>Created: <%-  format(folder.createdAt, 'MMMM dd, yyyy')%></p>
            <p>Last modified: <%- format(folder.updatedAt, 'iiii, MMMM dd, yyyy')%></p>
            <a href="/folders/delete-folder/<%=folder.id %>" class="button">Delete</a>
            <a href="/folders/edit-folder/<%=folder.id %>" class="button">Edit</a>
            <form action="/folders/upload/<%=folder.id%>/new-file" enctype="multipart/form-data" method="post" class="new-file-form">
                <input type="file" name="uploaded_file" />
                <!-- <label for="name">File Name</label>
                <input type="text" placeholder="File Name" name="name" />
                <div class="new-file-button"> -->
                    <button class="button">Upload File</button>
                </div>
            </form>
            <div class="file-container">
                <% folder.files.forEach(function(file) { %>
                    <div class="file">
                        <div class="file-name"><%- file.name %></div>
                        <div class="file-details">
                            <!-- <p>Uploaded: <%- file.createdAt %></p> -->
                            <p>Uploaded: <%- format(file.createdAt, 'MMMM dd, yyyy')%></p>
                            <p><%- file.size %> bytes</p>
                            <p>Download</p> 
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </body>
</html>